body {
    display: grid;
}

span.good {
    color: rgba(20,200,20,1)
}

span.bad {
    color: rgba(200,20,20,1)
}
@media (min-width: 800px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
}
