main {
    display: grid;
    grid-template-areas: "daily" "provinces" "immune";
    grid-template-rows: repeat(1fr, auto);
                         
}

#chartfig {
    grid-area: daily;
}

#provincesfig {
    grid-area: provinces;
}

#stackedfig {
    grid-area: immune;
}

span.good {
    color: rgba(20,200,20,1)
}

figcaption {
    visibility: hidden;
}

figcaption.show {
    visibility: visible;
}
span.bad {
    color: rgba(200,20,20,1)
}
@media screen and (min-width: 1000px) {
    main {
        /* grid-template-columns: 1fr 1fr; */
        grid-template-areas: "daily provinces" "immune immune";
        grid-template-columns: 1fr 1fr;
                             
    }
}
